@using OfficeBoilerProject.Web.Startup
@{
    ViewBag.ActiveMenu = PageNames.About;
}

<h2>@L("About")!</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>ok</p>
    foreach (var claim in User.Claims)
    {
        var claimValue = claim.Value;
        <p>@claim.Type: @claimValue</p>
    }
}
else
{
    <p>rip</p>
}