
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Office</h2>
<hr/>

<h2>Name: @Model.Description <br />Id: @Model.Id</h2>
<form method="post">
    <button type="submit" class="btn btn-danger">@("Delete")</button>
</form>

