
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Office</h2>
<hr/>

<h2>Name: @Model.Description <br />Id: @Model.Id</h2>
<form method="post">
    @*<div class="form-group">
        <input type="number" name="Id" placeholder="Id" class="form-control" />
    </div>*@
    <button type="submit" class="btn btn-danger">@("Delete")</button>
</form>

