
@model OfficeBoilerProject.OfficeAppService.Dto.OfficeDtoGet
@{
    ViewBag.Title = "Office";
    ViewBag.ActiveMenu = "Office";
}

<h2>Office Details</h2>
<hr />

<h2>Name: @Model.Description </h2>
<br />

@if (Model.Persons.Any())
{
    <h2>Persons: </h2>
    foreach (var person in @Model.Persons)
     {
         <h4>@person.FirstName @person.LastName</h4>
     }
}