
@model OfficeBoilerProject.OfficeAppService.Dto.OfficeDto
@{
    ViewBag.Title = "Office";
    ViewBag.ActiveMenu = "Office";
}

<h2>Office Details</h2>
<hr/>

<h2>Name: @Model.Description </h2>
<br />
<h2>Persons: </h2>
<ul>
    @foreach (var person in Model.Persons)
    {
    <li><h3>@person.FirstName @person.LastName</h3></li>
    }
</ul>