
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Device</h2>
<hr />
<h2>Name: @Model.Name</h2>
<h2>Id: @Model.Id</h2>
<form method="post">
    <button type="submit" class="btn btn-danger">@("Delete")</button>
</form>

