@model OfficeBoilerProject.Models.Device
@{
    ViewData["Title"] = "Device";
}

<h2>Device Details</h2>
<hr />
<h2>Name: @Model.Name</h2>
<h2>Using: @Model.Person.FirstName @Model.Person.LastName</h2>
@Html.ActionLink("History", "Device", new { id = Model.Id })

