@model OfficeBoilerProject.DeviceAppService.Dto.DeviceDtoPut
@{
    ViewData["Title"] = "Update";
}

<h2>Update Device</h2>
<hr/>
<form method="post">
    <div class="form-group">
        @*<input type="number" name="Id" value="@Url.ActionContext.RouteData.Values["id"]" class="form-control" />*@
        Name: <input type="text" name="Name" value="@Model.Name" class="form-control" />
        Person: <input type="number" name="PersonId" value="@Model.PersonId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">@("Update")</button>
</form>

