@model OfficeBoilerProject.DeviceAppService.Dto.DeviceDtoPut
@{
    ViewData["Title"] = "Update";
    var persons = ViewBag.SelectPerson as SelectList;
}

<h2>Update Device</h2>
<hr/>
<form method="post">
    <div class="form-group">
        Name: <input type="text" name="Name" value="@Model.Name" class="form-control" />
        @Html.DropDownListFor(x => x.PersonId, persons)
    </div>
    <button type="submit" class="btn btn-primary">@("Update")</button>
</form>

