@model OfficeBoilerProject.PersonAppService.Dto.PersonDto
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Person</h2>
<hr />

<h2>Name: @Model.FirstName @Model.LastName</h2>
<h3>Id: @Model.Id</h3>

<form method="post">
    @*<div class="form-group">
        <input type="number" name="Id" placeholder="Id" class="form-control" />
    </div>*@
    <button type="submit" class="btn btn-danger">@("Delete")</button>
</form>



